
<!-- app-home -->
<!-- <div class="flex-box container">
        <div class="row ">
            <app-home></app-home>
            <router-outlet></router-outlet>
        </div>
</div> -->
   
    <!-- //app-login and app-register -->
    <!-- <div class="jumbotron"> 
        <div class="flex-box container">
             <div class="row">
                <app-login></app-login>
                <router-outlet></router-outlet>
            </div>
         </div>
    </div> -->
        <app-home></app-home>
        <div class="jumbotron"> 
                <div class="flex-box container">
                        <app-profile></app-profile>
                </div>
           </div>
         <!-- <app-auction></app-auction> -->
        <router-outlet></router-outlet> 
