<div style="margin-top: 20px;">
    <div class=" auction border rounded flex-container m-2">
        <div class="row mr-1">
            <a class="d-flex justify-content-center col-sm-12 col-lg-3 mt-4">
                <img src={{auction.image_name}} class="img" alt="property_image" style="width:250px;height:200px;">
            </a>
            <div class="row p-2 col-sm-12 col-lg-9 ml-2">
                <div class="col-sm-12 col-lg-4  mt-4 address">
                    <h6>{{ auction.title }}</h6>
                    <span class="medium text-muted">{{ auction.property_type}}</span><br>
                    <span>{{ auction.address }}</span>
                </div>
                <div class="col-sm-12 col-lg-4 mt-4 ">
                    <h6>Property Description</h6>
                    <div class="property_description medium border border-dark bg-dark text-white mt-2 p-2 rounded">
                        {{ auction.description }}
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 mt-4 expiry">
                    <h6>Ends on</h6>
                    <div class="border border-dark bg-dark text-white rounded p-2">
                        {{ auction.expiry_date }}
                    </div>
                </div>
                <div class="col-sm-12 mt-4 col-lg-4 price">
                    <h6>Starting Bid</h6>
                    <span class="medium border bg-dark text-white rounded p-2">$ {{ auction.min_starting_bid }}</span>
                </div>
                <div class="col-sm-12 mt-4 col-lg-4 price">
                    <h6>Current Bid</h6>
                    <span class="medium border bg-dark text-white rounded p-2">$ {{ auction.max_current_bid }}</span>
                </div>
                <form [formGroup]="bid" (ngSubmit)="onSubmit()"
                class="d-flex justify-content-center align-items-center mt-5 col-sm-12 col-lg-4 float-right">
                        <div class="alert alert-light" role="alert">
                            Bid should be in multiples of {{ auction.bid_value_multiple }}
                        </div>
                        <input type="number" formControlName="bid_value"
                        class="form-group form-control border rounded"
                        [ngClass]="{ 'is-invalid': submitted && f.bid_value.errors }">
                        <div *ngIf="submitted && f.bid_value.errors" class="invalid-feedback">
                            <div *ngIf="f.bid_value.errors.validBid"> Bid should be multiple of
                                {{ auction.bid_value_multiple }}</div>
                        </div>
                        <button id="bidbox" type="submit" [disabled]="loading"
                            class="form-group btn btn-dark ml-2 mr-2">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            $Bid
                        </button> 
                </form>
            </div>
        </div>
    </div>
</div>