.auctionBox {
  margin-top: 20px;
}
.auction {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.836);
}
.img {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  object-fit: contain;
  width:250px;
  height:200px;
  overflow: auto;
}
.property_description {
  width: 100%;
  height: 100px;
  overflow: auto;
}
