<div *ngIf="isShow" class="overlay">
    <div *ngIf="!hideBids && !noBids" class="dialog row">
        <div class=" col-12">
            <div class="title col-4"> Username </div>
            <div class="title col-4"> Bid Value </div>
            <div class="title col-4">
                <input name="action bg-dark close" type="submit" value="X" (click)="toggle()" />
            </div>
        </div>
        <div class="col-12" *ngFor="let viewBid of viewBids">
            <div class="rowData col-4"> {{ viewBid.username }} </div>
            <div class="rowData col-4">{{ viewBid.bidValue }} </div>
            <div class="rowData col-4">
                <button id="bidbox" type="submit" class="btn btn-dark ml-2 mr-2" value="{{ viewBid.username }}"
                    (click)="setWinner($event)">
                    <span *ngIf="loading" class="mr-1"></span>
                    Set Winner
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="noBids" class="dialog row">
        <div class="colPadding col-12">
            <div class="title col-12">
                <input name="action close" type="submit" value="X" (click)="toggle()" />
            </div>
            <div class="d-flex pt-2">
                No bids to display
            </div>
        </div>
    </div>
    <div *ngIf="hideBids" class="dialog row">
        <div class="colPadding col-12">
            <div class="title col-12">
                <input name="action bg-dark close" type="submit" value="X" (click)="toggle()" />
            </div>
            <div class="d-flex pt-2">
                Winner is {{ winner }}
            </div>
        </div>
    </div>