.overlay {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.dialog {
  background-color: white;
  display: flex;
  position: fixed;
  padding: 8px;
  z-index: 5;
  margin-left: 5px;
}

.rowData {
  display: inline-block;
}

.title {
  display: inline-block;
  font-weight: bold;
  padding: 0;
}

input {
  float: right;
  background-color: crimson;
  color: white
}

button {
  margin: 10px;
}

.colPadding {
  padding: 0;
}