<div class="overlay">
    <div *ngIf="!hideBids" class="viewBid dialog row">
        <div class="col-12">
            <div class="title col-4"> Username </div>
            <div class="title col-4"> Bid Value </div>
            <div class="title col-4">
                <input name="action bg-dark close" type="submit" value="X" onclick="window.history.back();" />
            </div>
        </div>
        <div class="col-12" *ngFor="let viewBid of viewBids">
            <div class="rowData col-4"> {{ viewBid.username }} </div>
            <div class="rowData col-4">{{ viewBid.bidValue }} </div>
            <div class="rowData col-4">
                <button id="bidbox" type="submit" class="btn btn-dark ml-2 mr-2" value="{{ viewBid.username }}"
                    (click)="setWinner($event)">
                    <span *ngIf="loading" class="mr-1"  [routerLink]="['/winner']"></span>
                    Set Winner
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="hideBids">
        <div class="dialog">
            <div class="title col-4">
                <input name="action bg-dark close" type="submit" value="X" onclick="window.history.back();" />
            </div>
            Winner is {{ winner }}
        </div>
    </div>
</div>