<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">email is required</div>
            </div>
        </div>
    <div class="form-group">
        <label for="businesstype">Business type</label>
        <input type="text" formControlName="businesstype" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.businesstype.errors }" />
        <div *ngIf="submitted && f.businesstype.errors" class="invalid-feedback">
            <div *ngIf="f.businesstype.errors.required">Business type is required</div>
        </div>
    </div>
    <!-- <div class="form-group">
        <label for="profile"></label>
        <input type="file" formControlName="profile" ng2FileSElect [uploader]="uploader" />
        <button type="button" class="btn btn-success btn-s" 
            (click)="uploader.uploadAll()" 
            [disabled]="!uploader.getNotUploadedItems().length" >
                Upload image
        </button>
        <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
            <div *ngIf="f.profile.errors.required">Profile image is required</div>
        </div>
    </div> -->
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
