<app-alert></app-alert>
<nav class=" d-flex navbar navbar-dark bg-dark text-white fixed-top">
    <div class="navbar-nav">
        <div class="nav">
            <a class="logo" routerLink="/home">
                <img src="https://i.postimg.cc/HLB5x1S0/imageinverted.png" class="img" alt="logo" style="width:100px; height: 70px;">
            </a>
            <a *ngIf="isLoggedIn()" class="search d-flex align-self-center font-weight-bold" data-toggle="tab">
                <div id="myAuction" class="nav-item container d-none d-sm-block" routerLink="/myAuctions">
                    My Auctions
                </div>
            </a>
            <a *ngIf="isLoggedIn()" class="search align-self-center font-weight-bold"  data-toggle="tab">
                <div id="createAuction" class="nav-item container d-none d-sm-block" routerLink="/createAuction">
                    Create Auction
                </div>
            </a>
            <a *ngIf="isLoggedIn()" class="search align-self-center font-weight-bold" data-toggle="tab">
                <div class="nav-item container dropdown">
                    Search
                    <div class="dropbtn hover dropdown-content font-weight-light ">
                        <a (click)="search($event)">All</a>
                        <a (click)="search($event)">Residential</a>
                        <a (click)="search($event)">Commercial</a>
                        <a (click)="search($event)">Industrial</a>
                        <a (click)="search($event)">Open Land</a>
                    </div>
                </div>
            </a>
            <a class="profile" data-toggle="tab" >
                <div class="container dropdown">
                    <img  class="img" src="https://cdn1.imggmi.com/uploads/2019/10/24/4ad039b226c1a1b3bb1b282dfa3f6987-full.png"
                        alt="Profile" style="width:70px; height: 70px;">
                    <div *ngIf="isLoggedIn()" class="dropbtn hover dropdown-content">
                        <div class="d-block d-sm-none ">
                            <a routerLink="/myAuctions">My Auctions</a>
                            <a routerLink="/createAuction">Create Auction</a>
                        </div>
                        <a routerLink="/profile">My Profile</a>
                        <a (click)="logout()">Logout </a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</nav>