<nav class=" d-flex navbar navbar-dark bg-dark text-white fixed-top" style="z-index: 3; min-height: 80px;">
    <div class="navbar-nav" style="width: 100%">
        <div class="nav">
            <a class="logo" routerLink="/home">
                <img src="https://i.postimg.cc/HLB5x1S0/imageinverted.png" class="img" alt="logo"
                    style="width:100px; height: 70px;">
            </a>
            <a *ngIf="!isLoggedIn()" class="nav-item nav-link d-flex align-self-center font-weight-bold " style="cursor: pointer" data-toggle="tab" >
                <div id="myAuction" class=" container d-none d-sm-block" routerLink="/about">
                    About us
                </div>
            </a>
            <a *ngIf="isLoggedIn()" class="nav-item nav-link d-flex align-self-center font-weight-bold" style="cursor: pointer" data-toggle="tab">
                <div id="myAuction" class="container d-none d-sm-block" routerLink="/myAuctions">
                    My Auctions
                </div>
            </a>
            <a *ngIf="isLoggedIn()" class="nav-item nav-link align-self-center font-weight-bold" style="cursor: pointer"  data-toggle="tab">
                <div id="createAuction" class="container d-none d-sm-block" routerLink="/createAuction">
                    Create Auction
                </div>
            </a>
            <a *ngIf="isLoggedIn()" class="nav-item nav-link align-self-center font-weight-bold" style="cursor: pointer" data-toggle="tab">
                <div class="container dropdown">
                    Search
                    <div class="dropbtn hover dropdown-content font-weight-light ">
                        <a routerLink="/getallauctions">All</a>
                        <a routerLink="/getResidential">Residential</a>
                        <a routerLink="/getCommercial">Commercial</a>
                        <a routerLink="/getIndustrial">Industrial</a>
                        <a routerLink="/getLand">Open Land</a>
                    </div>
                </div>
            </a>
            <a class="nav-item nav-link " data-toggle="tab" style="position: fixed; right: 0;">
                <div class="container dropdown">
                    <img  src="https://www.freeiconspng.com/uploads/am-a-19-year-old-multimedia-artist-student-from-manila--21.png"
                        alt="Profile" style="width:50px; height: 50px;">
                    <div *ngIf="isLoggedIn()" style="cursor: pointer" class="dropbtn hover dropdown-content">
                        <div class="d-block d-sm-none ">
                            <a routerLink="/myAuction">My Auctions</a>
                            <a routerLink="/createAuction">Create Auction</a>
                        </div>
                        <a routerLink="/profile">My Profile</a>
                        <a (click)="logout()">Logout </a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</nav>