.specialcard {
        opacity: .8;
        transition: all 1s ease-in-out
    }

    @-webkit-keyframes fadeinout {
        50% { opacity: 1; }
      }

    @keyframes fadeinout {
        50% { opacity: 1; }
      }

      .container .jumbotron {
        padding:0px 3px;
        }