<app-navbar ></app-navbar>
<div class="profile jumbotron">
        <div class="flex-box container">
                <div class="card bg-muted d-flex justify-content-center" id="card">
                        <div class="card-header text-center">
                                <img class="card-img-top rounded border border-dark border-xl " alt="profile"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png">
                                <h4 class="card-title mt-2 text-dark">{{ user.username }}</h4>
                                <h6 class="card-subtitle text-secondary mt-2">{{ user.email }}</h6>
                                <h6 class="card-subtitle text-secondary mt-2"> {{ user.businesstype }}</h6>
                        </div>
                        <div class="card-footer bg-muted text-center">
                                <button type="button" class="btn btn-dark" (click)="logout()">
                                        LOGOUT
                                </button>
                        </div>
                        <div>
                                <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
                                        <div  class="navbar-nav nav-item" (click)="viewMyBids()">My Bids</div>
                                </nav>
                        </div>
                </div>
        </div>
        <div *ngIf="toggle">
                <app-auction *ngFor = "let auction of auctions" [auction] = "auction"></app-auction>
        </div>
</div>