<!-- for Nav bar no jumbotron -->
<nav class="navbar navbar-expand navbar-dark bg-dark fixed.top" >
    <div class="navbar-nav">
        <div class="nav ">
        <a class="nav-item nav-link" data-toggle="tab" href="#home">
                    <div id="home" class="container" routerLink="/"><br>
                      <h3>HOME</h3>
                    </div>
        </a>
        <a class="nav-item nav-link " data-toggle="tab" href="#myauctions">
                        <div id="myauction" class="container" routerLink="/myAuctions"><br>
                          <h3>My Auctions</h3>
                        </div>
        </a>
        <a class="nav-item nav-link " data-toggle="tab" href="#createAuction">
                        <div id="createAuction" class="container" routerLink="/createAuction"><br>
                          <h3>Create Auction</h3>
                        </div>
            </a>
    </div>
    <a class="nav-item nav-link ">
            <div class="dropdown">
                    <button class="dropbtn hover">Search</button>
                    <div class="dropdown-content">
                      <a href="#">All</a>
                      <a href="#">Residential</a>
                      <a href="#">Commercial</a>
                      <a href="#">Industrial</a>
                      <a href="#">Open Land</a>
                    </div>
            </div></a>
        <a class="nav-item nav-link float-right" href="#">
            <div class="dropdown">
                    <button class="dropbtn">Profile</button>
                    <div class="dropdown-content">
                      <a routerLink="/profile">My Profile</a>
                      <a class="nav-item nav-link" (click)="logout()">Logout</a>
                    </div>
            </div></a>
</div>
</nav>