.container .jumbotron {
    padding: 0px 3px;
}

.createAuctionBox {
    background-image: url('https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixlib=rb-1.2.1&auto=format&fit=crop&w=1987&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:fixed;
    overflow: auto;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%
}

.jumbotron {
    background: transparent;
}

form {
    border-radius: 15px;
    background-color: white;
    opacity: 0.85;
    padding: 30px
}

.flex-box {
    padding-top: 60px
}