.dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: #bebebe;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
}

.dropbox:hover {
    background: rgb(39, 42, 43); /* when mouse over to the drop zone, change color */
}

.dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
}

.createAuctionBox {
    margin-top: 90px;
}