<div class="createAuctionBox">
    <app-navbar></app-navbar>
    <div class="jumbotron mb-0 pb-4">
        <div class="flex-box container rounded-2">
                <form [formGroup]="createAuctionFormGroup" (ngSubmit)="onSubmit()">
                    <div>
                        <h2>Create Auction</h2>
                    </div>
                    <div class="form-group">
                        <label for="title">Property name</label>
                        <input type="text" min="20" max="50" formControlName="title" id="title" name="title"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">This is a required field</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="property_type">Property Type</label><br>
                        <div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="form-control custom-control-input" id="residential"
                                    formControlName="property_type" value="Residential" (change)="onItemChange($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f.property_type.errors }">
                                <label class="custom-control-label" for="residential">Residential</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="form-control custom-control-input" id="commercial"
                                    formControlName="property_type" value="Commercial" (change)="onItemChange($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f.property_type.errors }">
                                <label class="custom-control-label" for="commercial">Commercial</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="form-control custom-control-input" id="industrial"
                                    formControlName="property_type" value="Industrial" (change)="onItemChange($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f.property_type.errors }">
                                <label class="custom-control-label" for="industrial">Industrial</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="form-control custom-control-input" id="openLand"
                                    formControlName="property_type" value="Open Land" (change)="onItemChange($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f.property_type.errors }">
                                <label class="custom-control-label" for="openLand">Open Land</label>
                            </div>
                            <div *ngIf="submitted && f.property_type.errors" class="invalid-feedback">
                                <div *ngIf="f.property_type.errors.required">This is a required field</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" min="20" max="100" formControlName="address" id="address" name="address"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Address is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Property Description</label>
                        <input type="text-area" min="20" max="300" formControlName="description" id="description"
                            name="description" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="min_starting_bid">Starting bid</label>
                        <input type="number" min="1" formControlName="min_starting_bid" id="min_starting_bid"
                            name="min_starting_bid" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.min_starting_bid.errors }" />
                        <div *ngIf="submitted && f.min_starting_bid.errors" class="invalid-feedback">
                            <div *ngIf="f.min_starting_bid.errors.required">Starting bid is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for=" bid_value_multiple">Bid value multiple</label>
                        <input type="number" min="0.1" formControlName="bid_value_multiple" id="bid_value_multiple"
                            name="bid_value_multiple" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.bid_value_multiple.errors }" />
                        <div *ngIf="submitted && f.bid_value_multiple.errors" class="invalid-feedback">
                            <div *ngIf="f.bid_value_multiple.errors.required">Bid value multiple is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expiry_date">Expiry Date</label>
                        <input type="date" formControlName="expiry_date" id="expiry_date" name="expiry_date"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.expiry_date.errors }" />
                        <div *ngIf="submitted && f.expiry_date.errors" class="invalid-feedback">
                            <div *ngIf="f.expiry_date.errors.required">Expiry date is required</div>
                            <div *ngIf="f.expiry_date.errors.date">Please input a valid Date</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="property_image">Add Property image</label><br>
                        <input type="file" (change)="onFileSelect($event)" formControlName="property_image"
                            id="property_image" name="property_image" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.property_image.errors }" />
                        <div *ngIf="submitted && f.property_image.errors" class="invalid-feedback">
                            <div *ngIf="f.property_image.errors.required">property image is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" [disabled]="loading" class="btn btn-dark">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Submit
                        </button>
                        <a routerLink="/home" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
</div>